.container {
         -fx-padding: 50px; /* 设置内边距为10像素 */
         -fx-background-image: url("background.jpg");
         -fx-background-repeat: no-repeat; /* 可选，设置背景图片不重复 */
           -fx-background-size: cover;
     }


     /* 设置字体大小和样式 */
.button{
         -fx-font-size: 30px; /* 设置字体大小为14像素 */
         -fx-font-family: "Arial"; /* 设置字体样式为Arial */
         -fx-font-weight: bold; /* 设置字体粗细为粗体 */
         -fx-font-style: italic; /* 设置字体样式为斜体 */
         -fx-text-fill: BLACK;
     }
.GPbutton{
         -fx-font-size: 30px; /* 设置字体大小为14像素 */
         -fx-font-family: "Arial"; /* 设置字体样式为Arial */
         -fx-font-weight: bold; /* 设置字体粗细为粗体 */
         -fx-font-style: italic; /* 设置字体样式为斜体 */
         -fx-text-fill: BLACK;

}
.title{
              -fx-font-size: 88px;
              -fx-font-family: "Arial"; /* 设置字体样式为Arial */
              -fx-font-weight: bold; /* 设置字体粗细为粗体 */
              -fx-font-style: italic; /* 设置字体样式为斜体 */
              -fx-text-fill: WHITE;
}
.title2{
              -fx-font-size: 50px;
              -fx-font-family: "Arial"; /* 设置字体样式为Arial */
              -fx-font-weight: bold; /* 设置字体粗细为粗体 */
              -fx-font-style: italic; /* 设置字体样式为斜体 */
              -fx-text-fill: WHITE;

}
.Select{

        -fx-background-color: #F0F0F0;
        -fx-text-fill: #333333;
        -fx-font-size: 14px;
        -fx-border-color: #CCCCCC;
        -fx-border-width: 1px;
        -fx-border-radius: 4px;
        -fx-padding: 5px;

}
.content{
    -fx-font-size: 20px;

    -fx-font-family: "Arial"; /* 设置字体样式为Arial */
    -fx-font-weight: bold; /* 设置字体粗细为粗体 */
    -fx-font-style: italic; /* 设置字体样式为斜体 */
    -fx-text-fill: PINK;
}